body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f5f7;
}
.sidebar {
  height:auto;
  background-color: #c9c919 !important;
  color: white;
  /* padding: 30px; */
  width: auto;
  /* width: 35% !important; */
  /* margin-right: 15px; */
}
.sidebar a {
  color: white;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.sidebar .liens {
  padding: 30px;
  width: auto;
  /* width: 35% !important; */
  margin-right: 15px;
}


.sidebar img {
  position: relative;  
  width: 100%;
  height: 18%;
  
}
.main-content {
  padding: 20px;
}
.card {
  margin-bottom: 20px;
}
/* **********************Fin dashboard************************* */
/* *************************home******************************* */
#nav{
  width: 100%;
  height:10vh;
  position: fixed;
  top: 10;
  background-color: #000000;
}
#nav a{
  color: #008080 !important;
}
#nav li{
  /* color: #008080 !important; */
  border: 2px solid white;
  border-radius: 100%;
  margin-right: 15%;
  padding: 4px 10px;
}
#view{
  width: 100%;
  height:90vh;
  position: relative;
}

/* ***************************App interface**************************** */
.sidebar{
  background-color: #c9c919 !important;
}












