body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f5f7;
}
.sidebar {
  height:auto;
  /* height: 109.20vh; */
  background-color: #008080 ;
  color: white;
  /* padding: 30px; */
  width: auto;
  /* width: 35% !important; */
  /* margin-right: 15px; */
}
.sidebar a {
  color: white;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.sidebar .liens {
  padding: 30px;
  width: auto;
  /* width: 35% !important; */
  margin-right: 15px;
}

.sidebar a:hover {
  /* background-color: #ffffff; */
  color: #000000;
  font-size: 1.2rem;
}
.sidebar img {
  position: relative;  
  width: 100%;
  height: 18%;
  
}
.main-content {
  padding: 20px;
}
.card {
  margin-bottom: 20px;
}
