body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f7;
  }
  .sidebar {
    height:100vh;
    background-color: #008080 ;
    color: white;
    /* padding: 30px; */
    width: 15%;
    /* width: 35% !important; */
    /* margin-right: 15px; */
  }
  .sidebar a {
    color: white;
    display: block;
    padding: 10px 0;
    margin: 6Px;
    text-decoration: none;
    font-size: 1.2em;
    }
    .sidebar li {
      list-style: none;
      /* padding-left: 100%; */
    background-color: aqua !important;
    
  }
  .sidebar .liens {
    padding: 30px;
    width: auto;
    /* width: 35% !important; */
    margin-right: 15px;
  }
  
  
  .sidebar img {
    position: relative;  
    width: 100%;
    height: 18%;
    
  }
  .main-content {
    padding: 20px;
  }
  .card {
    margin-bottom: 20px;
  }
  /* **********************Fin dashboard************************* */
  
  
  /* ***************************code pour les icons**************************** */
  .nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.nav-links a::before {
    content: "\f0da"; /* Default icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Solid style */
    padding-right: 10px;
    position: absolute;
    left: 0;
    margin-left: -20px ;
}

.nav-links a.dashboard::before { content: "\f015"; } /* Home icon */
.nav-links a.employees::before { content: "\f0c0"; } /* Users icon */
.nav-links a.clients::before { content: "\f007"; } /* User icon */
.nav-links a.reservations::before { content: "\f017"; } /* Clock icon */
.nav-links a.tasks::before { content: "\f0ae"; } /* Tasks icon */
.nav-links a.services::before { content: "\f233"; } /* Cogs icon */
.nav-links a.commentaire::before { content: "\f27a"; } /* Comment icon */
.nav-links a.parametre::before { content: "\f013"; } /* Cog icon */
/* ***************************fin code pour les icons**************************** */
  


  
  
  
  
  
  
  